.indent {
  margin-left: 30px;
}
.flexpadding {
  padding: 30px;
}
.leftright {
  display: flex;
  align-items: center;
  height: 5vh;
}
.key_equal {
  display: flex;
  align-items: flex-start;
  height: 1vh;
}
